.input-block {
    position: relative;
  }

.input-block label{
    font: 1.4rem;
}

.input-block + .input-block {
    margin-top: 1.4rem;
  }

.input-block input {
    flex: 1;
    font-size: 1.3rem !important;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-block input:focus{
    color: #495057;
    background-color: #fff;
    border-color: var(--color-secundary) !important; 
    outline: 0;
    box-shadow: none !important;
}