:root {
    font-size: 60%;

    --color-background: #FFFFFF;
    --color-primary-lighter: #9871F5;
    --color-light: #f8f9fa;
    --color-primary: #48616d;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secundary: #9b9c9e;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ocupa o tamanho total da página */
html, body, #root {
    /*height: 100vh;*/
}

body {
    background: var(--color-background);
}


#root {
    background: var(--color-background);
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
}

/* ocupa 90% da tela a menos que ultrapasse 700px */
.container {
    width: 90vw;
    /*max-width: 700px;
    /*position: relative;*/
    /*min-height: 100vh;*/
}

#content-wrap {
    padding-bottom: 20rem; /* Footer height */
}

/* em dispositivos com uma largura de no minimo 700px aumenta um pouco o fontsize
62.5  = 1 rem = 10px*/
@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}